.C_CMT_32 {text-overflow:ellipsis;clear:both;padding:5px 3px;border-bottom: 1px dashed #CCCCCC!important; border-top:none!important; line-height:170%!important;}
.C_CMT_Gravatar {float:left;margin:0 2px 0 0;padding:0!important;}
.C_CMT_Content a {padding:0;margin:0;line-height:130%;white-space:normal !important; display:inline!important; background:none!important; padding-left:5px!important;}
.C_CMT_32 a.C_CMT_A {color:#136475; background:none!important; padding-left:10px!important;margin-left:1px!important;}
.C_CMT_32 img {max-width:100px;}